[Unit]
Description=Osmocom Media Gateway (MGW)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
StateDirectory=osmocom
WorkingDirectory=/etc/osmocom
Restart=always
ExecStart=/usr/bin/osmo-trx-uhd -C /etc/osmocom/osmo-trx.cfg

[Install]
WantedBy=multi-user.target
